.container {
  display: grid;
  grid-template-rows: 100px 300px 100px;
  gap: 10px;
}
.item {
  background: lightblue;
  padding: 20px;
  text-align: center;
}

/* isma hum batta ha ka hama kitna row cahiya */
